[run]
source = .

[report]
show_missing = True
omit =
    **/*apps.py*
    *manage.py*
    *setup.py*
    *init.py*
    core/*testcase.py*
    utils/*bot.py
    utils/*email.py*
    utils/*excel.py
    workcloud/*asgi.py*
    workcloud/*settings.py*
    workcloud/*wsgi.py*
    frontend/*
