[run]
source = .

[report]
show_missing = True
omit =
    **/*apps.py*
    *manage.py*
    *setup.py*
    *init.py*
    *tests.py*
    core/concurrent.py
    core/testcase.py
    core/wrapper.py
    utils/bot.py
    utils/email.py
    utils/excel.py
    utils/slack.py
    workcloud/asgi.py
    workcloud/settings.py
    workcloud/migration_settings.py
    workcloud/wsgi.py
    workcloud/apache/wsgi.py
    frontend/*
    tests/*
