language: python
python:
  - "3.7"
install:
  - pip install -r requirements.txt
services:
  - postgresql
before_script:
  - psql -U postgres -c "CREATE USER wc WITH PASSWORD 'wc';"
  - psql -U postgres -c "ALTER USER wc CREATEDB;"
script:
  - tox
after_success:
  - codecov

notifications:
  email: false
