codecov
Django>=4.0
djangorestframework
django-cors-headers
django-crontab
django-storages
drf-yasg
flake8
importlib-metadata
mysqlclient
packaging
pillow
psycopg2
setuptools
tblib
six
tox
user-agents
XlsxWriter
xmltodict
