{% load i18n %}
{% autoescape off %}

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f0f0f0;padding-top:10px;padding-bottom:10px;">
  <tr>
    <td align="center">
      {% if logo_url %}
        <img src="{{ logo_url }}"/>
      {% else %}
        {{ site_name }}
      {% endif %}
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px;margin-left:auto;margin-right:auto;padding-top:15px; padding-bottom:15px;line-height:24px;">
  <tr>
    <td style="padding-top:24px;padding-bottom:24px;font-size:24px; font-weight:bold">
      {% blocktrans %}Dear {{ call_name }}{% endblocktrans %},
    </td>
  </tr>

  <tr>
    <td>
      {% trans "Someone requested that the password for your account be reset." %}
    </td>
  </tr>

  <tr>
    <td>
      {% trans "Please go to the following page to set a new password." %}
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;padding-top:48px;padding-bottom:48px">
        <tr>
          <td >
            <a href="{{ domain }}/#/accounts/password_reset_by_link/{{ uid }}/{{ token }}/" target="_blank" style="text-align:center;font-size:16px;padding-top:15px; padding-bottom:15px;padding-left:30px;padding-right:30px;text-decoration:none;color:white;background:#3A3435;">{% trans "Password reset" %}</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      {% trans "If you didn't request this, you can ignore this email. Your password won't be changed until you set a new password." %}
    </td>
  </tr>

</table>
{% endautoescape %}
